// Shared window base style
window#window_wallpaper,
window#window_shutdown,
window#window_system_updates,
window#window_network {
    background-color: rgba($--color-bg, 1);
    box-shadow: none;
    color: $--color-text;

    border: 1px solid;
    border-color: rgba($--color-bg-accent, 1);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    .hint {
        padding: $--padding-base 0px $--padding-base 0px;
        color: rgba($--color-text, 0.5);
        font-size: $--font-size * 0.5;
    }
}

window#window_shutdown {
    border-top: 0px;

    box.buttons {
        padding: $--padding-base;

        button {
            padding-left: $--spacing-base;
            padding-right: $--spacing-base;

            label {
                font-size: 26px;
                color: $--color-bg-accent;
            }
        }

        .selected {
            >* {
                color: rgba($--color-text, 0.75);
            }

            // border-bottom: 1px solid transparent;
            //
            // border-image: linear-gradient(
            //         45deg,
            //         $--color-primary,
            //         $--color-success
            //     )
            //     1;
            //
            // animation:
            //     borderAnimation 1.5s ease-in-out infinite alternate,
            //     transform 2s ease-in-out;
            //
            // @keyframes borderAnimation {
            //     0% {
            //         border-image: linear-gradient(
            //                 45deg,
            //                 $--color-primary,
            //                 $--color-success
            //             )
            //             1;
            //     }
            //     100% {
            //         border-image: linear-gradient(
            //                 45deg,
            //                 $--color-success,
            //                 $--color-primary
            //             )
            //             1;
            //     }
            // }
        }

        button:hover {
            label {
                color: rgba($--color-text, 0.75);
            }
        }
    }

    box.uptime {
        padding-top: $--padding-base;

        .value {
            font-size: $--font-size;
            color: $--color-text;
        }

        .label {
            font-size: $--font-size;
            color: rgba($--color-text, 0.5);
        }
    }

    box.birth {
        padding-bottom: $--padding-base;

        .value {
            font-size: $--font-size * 0.75;
            color: rgba($--color-text, 0.5);
        }

        .label {
            font-size: $--font-size * 0.75;
            color: rgba($--color-text, 0.25);
        }
    }
}

window#window_system_updates {
    border-bottom: 0px;

    box.Updates {
        padding: $--padding-base;

        button {
            padding-left: $--spacing-base;
            padding-right: $--spacing-base;

            label {
                font-size: 20px;
                color: $--color-text;
            }
        }

        button:hover {
            label {
                color: $--color-success;
            }
        }
    }

    box.update_line {
        font-size: 10px;

        .part-1 {
            color: $--color-warning;
        }

        .part-1-major {
            color: $--color-error;
        }

        .part-2 {
            color: $--color-bg-accent;
        }

        .part-3 {
            color: $--color-primary;
        }
    }
}

window#window_network {
    box.network {
        padding-left: $--spacing-base;
        padding-right: $--spacing-base;
        // padding-bottom: $--spacing-base;
    }

    border-top: 0px;

    box.ipaddress {
        .ip {
            color: transparentize($--color-text, 0.5);
        }
    }

    box.wifi,
    box.wired {
        .state {
            color: transparentize($--color-text, 0.75);
            font-style: italic;
            font-size: 10px;
        }
    }

    box.test {
        margin: 0px;
        padding: 1ex;
    }
}

window#window_wallpaper {
    box.main {
        min-width: 500px;
        min-height: 800px;
    }
}
