.bluetooth-manager {
    background:
        linear-gradient(rgba(25, 25, 25, 0.90),
            rgba(25, 25, 25, 0.90)), url("/home/toni/.local/share/backgrounds/linux-elitist/tokyo-lofi-healing-1.png") repeat #181d25;
    background-size: cover;
    border: 3.0px solid $background2;
    border-radius: 10px;
    color: $foreground3;
    font-weight: normal;
    padding: 0.5rem;

    .header {
        padding: 1rem;
        font-size: 20px;

        .state {
            color: $blue;
        }

        .label {
            color: $foreground1;
            // font-size: 12px;
            font-weight: bold;
        }

        button {
            .close {
                color: $red;
            }

            .settings {
                color: $orange;
            }
        }
    }

    .selector {
        padding: 0.25rem;

        .item>* {
            margin-left: 1rem;
        }

        .item {
            font-size: 14px;
            padding: 0.25rem;

            .label {
                color: $foreground1
            }

            .icon {
                color: $foreground3;
                font-size: 16px;
            }

            .spinner {
                font-size: 21px;
            }
        }
    }
}