.power-manager {
    font-size: 15px;
    font-weight: normal;
    color: $foreground1;
    // background: rgba(25, 25, 25, 0.75);
    border: 3.0px solid $background2;
    border-radius: 10px;
    background:
        linear-gradient(rgba(25, 25, 25, 0.90),
            rgba(25, 25, 25, 0.90)), url("/home/toni/.local/share/backgrounds/linux-elitist/tokyo-lofi-healing-1.png") repeat #181d25;
    background-size: cover;

    .infos {
        padding: 10px;

        .label {
            color: $foreground1;
            font-weight: normal;
        }

        .value {
            color: $yellow;
            font-weight: bold;
        }
    }

    >*>*>* {
        margin-top: 0.25rem;
    }

    .profiles {
        padding: 10px;

        .label {
            color: $foreground1;
            font-weight: bold;
        }

        >*>* {
            margin-top: 1rem;
        }


    }



}