.config/btop/themes/caelestia.theme

.config/kitty/themes

.config/hypr/conf.d/init/config.conf
.config/hypr/scheme/current.conf

.config/noctalia/colors.json

.config/yazi/plugins
.config/yazi/package.toml

.config/zed/themes
