.luarc.json

.config/btop/themes/noctalia.theme

.config/kitty/themes
.config/kitty/kitty.conf.bak
.config/kitty/current-theme.conf

.config/hypr/noctalia.lua

.config/spicetify/Themes/Comfy/color.ini

.config/yazi/plugins
.config/yazi/package.toml
.config/yazi/theme.toml
.config/yazi/flavors/noctalia.yazi

.config/zed/themes
