.audio-manager {
    font-size: 15px;
    font-weight: normal;
    color: $foreground1;
    // background: rgba(25, 25, 25, 0.75);
    border: 1.0px solid $blue;
    border-radius: 10px;
    background:
        linear-gradient(rgba(25, 25, 25, 0.90),
            rgba(25, 25, 25, 0.90)), url("/home/toni/.local/share/backgrounds/linux-elitist/tokyo-lofi-healing-1.png") repeat #181d25;
    background-size: cover;

    .panel {
        padding: 0.5rem;

        .header {
            padding: 1rem;


            .icon {
                color: $yellow;
                font-size: 16px;
            }


            .label {
                color: $foreground1;
                font-size: 12px;
                font-weight: bold;
            }

            button {
                font-size: 16px;
                color: $blue;
            }

            button:hover {
                color: $yellow;
            }

        }

        .selector {
            padding: 0.25rem;


            .item>* {
                margin-left: 1rem;
            }

            .item {
                font-size: 12px;
                padding: 0.25rem;

                .icon {
                    color: $foreground3;
                    font-size: 16px;
                }
            }

            .item.active {
                color: $green;
            }
        }

    }
}