.networkmanager {
    font-size: 15px;
    font-weight: normal;
    color: $foreground3;
    background: rgba(25, 25, 25, 0.75);
    border: 1.0px solid $blue;
    border-radius: 10px;
    background:
        linear-gradient(rgba(25, 25, 25, 0.90),
            rgba(25, 25, 25, 0.90)), url("/home/toni/.local/share/backgrounds/linux-elitist/tokyo-lofi-healing-1.png") repeat #181d25;
    background-size: cover;

    .header {
        padding: 1rem;
        font-size: 11px;
        font-family: "JetBrainsMono NFM Thin";

        .label {
            color: $foreground1;
            font-weight: normal;
        }

        .value {
            font-size: 11px;
            color: $blue;
        }

        .full {
            font-weight: bold;
            color: $green;
        }

        .limited {
            color: $yellow;
        }
    }

    .wired {
        padding: 10px;

        .control {
            min-height: 20px;

            .label {
                font-weight: bold;
                color: $foreground1;
            }
        }

        .infos {
            margin-top: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;

            .label {
                font-size: 11px;
                font-weight: normal;
                color: $foreground1;
            }

            .value {
                font-size: 11px;
                color: $yellow;
            }
        }
    }
}