// @import "./../../widgets/networkspeeds.scss";
// @import "./../../widgets/updates.scss";

$--font-size-bottom: 14px;

window.BottomBar {
    border: none;
    box-shadow: none;
    background-color: $--color-bg;
    color: $--color-text;
    border-bottom: 1.5px solid black;

    .NetworkSpeeds {
        .label {
            color: $--color-text;
        }

        .down-val-on {
            padding-top: 2px;
            font-size: $--font-size-bottom;
            color: $--color-success;
        }

        .up-val-on {
            padding-top: 2px;
            font-size: $--font-size-bottom;
            color: $--color-error;
        }

        .down-val,
        .up-val {
            padding-top: 2px;
            font-size: $--font-size-bottom;
            color: $--color-bg-accent;
        }

        .down-icon-on {
            font-size: $--font-size-bottom;
            color: $--color-success;
        }
        .up-icon-on {
            font-size: $--font-size-bottom;
            color: $--color-error;
        }

        // Group normal values
        .down-icon,
        .up-icon {
            font-size: $--font-size-bottom;
            color: $--color-bg-accent;
        }
    }

    .Updates {
        > * {
            margin-right: 1rem;
        }

        .icon {
            // font-size: 12px;
            // background-color: blue;
            font-size: $--font-size-bottom;
        }
        .value {
            font-size: $--font-size-bottom;
            // font-size: 12px;
            // background-color: red;
        }
    }
    .SystemStats {
        > * {
            margin-right: 2rem;
        }

        .icon {
        }
        .value {
        }
    }
}
