.monitor-box {
    font-weight: bold;
    min-width: 45px;
    padding-right: 15px;
    margin-left: -15px;
}

.monitor {
    font-size: 18px;
}

.framerate {
    font-size: 10px;
}

.framerate.primary {
    padding-top: 10px;
    margin-left: 0px;
    color: $green;
}

.framerate.secondary {
    padding-bottom: 12px;
    margin-right: -42px;
    color: $yellow;
}