.container_network {
  color: $yellow;
  font-size: 18px;
  margin-right: 5px;
}

.icon-adapter {
  font-size: 18px;
}

.value {
  font-weight: bold;
  font-size: 10px;
  margin-right: 5px;
  min-width: 25px;
}

.value.up {
  color: $yellow;
}


.value.down {
  color: $yellow;
}

.value.zero {
  color: $yellow-opace;
}