.power-container {
  font-size: 18px;
  margin-right: 15px;
}

.power-icon {
  padding-bottom: 2px;
  color: $blue;
}

.power-icon.full {
  color: $green;
}


.power-icon.critical {
  color: $red;
}

.power-value {
  font-size: 10px;
  font-weight: bold;
  color: $green;
  padding-top: 10px;
  margin-left: 1px;
}