.pw_menu_container {
  padding-left: 10px;
  padding-right: 15px;
  font-weight: bold;
  // min-width: 300px;
}

.button {
  color: $red;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.button.restart {
  color: $yellow;
}

.button.suspend {
  color: $green;
}

.button.hibernate {
  color: $blue;
}

.button.open {
  color: $red;
}

.button.close {
  color: $red;
}

.confirm_box {
  // min-width: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.button.yes {
  color: $green;
  font-size: 16px;
  padding-left: 15px;
}

.button.no {
  color: $yellow;
  font-size: 16px;
  padding-left: 15px;
}