.tray-box {
    border-bottom: solid 2px $transparent;
    padding-right: 30px;
    margin-bottom: -5px;
}

.app.hidden {
    padding: 0px;
}

.app.open {
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: $white;
}

.discord {
    padding-top: 2px;
}

.app.hidden {
    padding-left: 0px;
    padding-right: 0px;
}

.button {
    font-size: 16px;
    padding-top: 1px;
    padding-right: 6px;
    padding-left: 6px;
}

.button.move {
    color: $white;
}


.button.close {
    color: $red;
}

.button.connected {
    color: $green;
}

.button.disconnected {
    color: $blue;
}