.container {
  padding-top: 2px;
  padding-left: 8px;
}

.icon {
  font-size: 18px;
  color: $blue;
}

.updates {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 6px;
  font-weight: bold;
}

.updates.done {
  color: $green;
}

.updates.pending {
  color: $yellow;
}

.updates.pending.high {
  color: $red;
}