.volume-value {
    font-size: 10px;
    font-weight: bold;
    color: $blue;
    padding-top: 10px;
    margin-left: 12px;
}

.volume-value.muted {
    color: $yellow;
    text-decoration: line-through;
}

.volume-container {
    font-size: 18px;
    margin-right: 15px;
}

.volume-icon {
    color: $blue;
    font-size: 16px;
}