.workspaces {
    font-weight: normal;
    font-size: 18px;
}

.workspace {
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: solid 1.0px $transparent;
    // border-bottom: solid 1.25px $transparent;
    border-radius: 0px;
    color: $blue-opace; // unoccupied
}

.workspace button:hover {
    background-color: $blue;
}

.workspace.occupied {
    color: $white-opace;
    // border-top: solid 0.5px $yellow-opace;
    // border-bottom: solid 1.25px $yellow-opace;
    border-radius: 3px;
}

.workspace.focused {
    // border-top: solid 0.5px $yellow;
    // border-left: solid 1.25px $yellow;
    border-radius: 0px;
    color: $blue;
}

.left {
    // border-left: solid 0.5 $yellow;
    border-bottom: solid 1.25px $red;
}

.right {
    // border-right: solid 0.5 $yellow;
    border-bottom: solid 1.25px $green;
}