window.bar {
    background: transparent;
    background-color: $background3;
}

.left.widgets.spacing>* {
    margin-right: 1.5rem;
}

.left.widgets.spacing>*:last-child {
    margin-right: 0rem;
}

.left.widgets.spacing>*:first-child {
    margin-left: 1.5rem;
}

.right.widgets.spacing>* {
    margin-left: 1.5rem;
}

.right.widgets.spacing>*:first-child {
    margin-left: 0rem;
}

.right.widgets.spacing>*:last-child {
    margin-right: 1.5rem;
}