@import "./client.scss";
@import "./launcher.scss";
@import "./resources.scss";
@import "./updates.scss";

@import "./workspaces.scss";

@import "./audio.scss";
@import "./bluetooth.scss";
@import "./clock.scss";
@import "./network.scss";
@import "./settings.scss";
@import "./shutdown.scss";
@import "./system-tray.scss";

window.bar {
    background: transparent;
    background-color: $background3;
}

.left.widgets.spacing>* {
    margin-right: 1.0rem;
}

.left.widgets.spacing>*:last-child {
    margin-right: 0rem;
}

.left.widgets.spacing>*:first-child {
    margin-left: 1.0rem;
}

.right.widgets.spacing>* {
    margin-left: 1.0rem;
}

.right.widgets.spacing>*:first-child {
    margin-left: 0rem;
}

.right.widgets.spacing>*:last-child {
    margin-right: 1.5rem;
}