.settings {

    button:hover {
        color: $yellow;
    }

    .icon {
        font-size: 16px;
    }

    >* {
        margin-right: 1rem;
    }

    >*:last-child {
        margin-right: 0rem;
    }

}