.shutdown-menu {
    color: $red;
    font-size: 24px;

    button:hover {
        color: $yellow;
    }

    .menu {
        font-size: 18px;

        .shutdown {
            color: $red;
        }

        .reboot {
            color: $orange;
        }

        .suspend {
            color: $green;
        }

        .hibernate {
            color: $yellow;

        }

        >* {
            margin-right: 1.25rem;
        }

        >*:first-child {
            margin-left: 0.5rem;
        }

        >*:last-child {
            margin-right: 1.75rem;
        }
    }
}