.workspace {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-bottom: 2px solid transparent;

    >*>* {
        margin-right: 0.5rem;
    }

    >*>*:last-child {
        margin-right: 0rem;
    }
}

.active {
    border-bottom: 2px solid rgba(97, 255, 202, 1.0);
}

.workspace-label {
    color: white;
    margin-top: -0.5rem;
    font-size: 14px;
    font-weight: bold;
}

.app-icon {
    // size set in workspaces.ts
}

.menu {
    color: red;

}

.workspaces {
    >* {
        margin-right: 0.5rem;
    }

    button:hover {
        border-bottom: 2px solid rgba(97, 255, 202, 0.25);
    }
}