window.TopBar {
    box-shadow: none;
    background-color: $--color-bg;
    color: $--color-text;

    border-bottom: 1px solid;
    border-color: rgba($--color-bg-accent, 1);

    > * {
        padding-top: $--padding-base;
        padding-bottom: $--padding-base;
    }

    // ------ Left and right edge ------
    > * > *:first-child {
        margin-left: $--spacing-base * 1.25;
    }
    > * > *:last-child {
        margin-right: $--spacing-base * 1.25;
    }

    // ------ Between widgets ------
    > * > * > * {
        margin-right: $--spacing-base;
    }
    > * > * > *:last-child {
        margin-right: 0rem;
    }

    // ------ Left side ------

    // ------ Center side ------
    .Workspaces {
        > button {
            min-width: 16px;
            padding-left: 0.35rem;
            padding-right: 0.35rem;
            transition: all 0.75s cubic-bezier(0.5, 0.25, 0, 1);

            border-bottom: 2px solid transparent;
        }
    }

    .Workspaces > button:hover {
        border-bottom-left-radius: $--border-radius;
        border-bottom-right-radius: $--border-radius;
        border-bottom: 0.15rem solid $--color-error;
    }

    .Workspaces > button.focused {
        min-width: 16px;
        border-bottom-left-radius: $--border-radius;
        border-bottom-right-radius: $--border-radius;
        border-bottom: 0.15rem solid $--color-primary;
    }

    // ------ Right side ------
    .AudioSlider {
        * {
            all: unset;
        }

        margin-right: 0rem;

        icon {
            margin-right: 0em;
        }

        trough {
            min-width: 100px;
            background-color: color.adjust($--color-primary, $alpha: -0.9);
            border-radius: $--border-radius * 3;
            margin-left: 0.5rem;
        }
        //
        highlight {
            background-color: $--color-primary;
            min-height: 0.7em;
            border-radius: $--border-radius * 3;
        }
        //
        slider {
            background-color: $--color-primary;
            // border-radius: 2px;
            // min-height: 1em;
            // min-width: 1em;
            // margin: -0.2em;
        }
    }
}
