* {
    all: unset;
}

window.bar {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: "CaskaydiaCove Nerd Font SemiBold";
    font-size: 16px;
    font-weight: bold;

}

/* MODULES LEFT */

/* MODULES CENTER */
@import "./modules/workspaces.css";

/* MODULES RIGHT */
@import "./modules/system_tray.css";
@import "./modules/clock.css";


/* $transparent: rgba(255, 255, 255, 0);

$white: rgba(250, 247, 254, 1.0);
$white-opace: rgba(250, 247, 254, 0.75);
$black: rgba(0, 0, 0, 1.0);
$black-opace: rgba(0, 0, 0, 0.15);

$green: rgba(97, 255, 202, 1.0);
$green-opace: rgba(97, 255, 202, 0.25);
$blue: rgb(37, 201, 243);
$blue-opace: rgba(37, 201, 243, 0.25);
$red: rgba(255, 103, 103, 1.0);
$red-opace: rgba(255, 103, 103, 0.5);
$yellow: rgba(241, 192, 125, 1.0);
$yellow-opace: rgba(241, 192, 125, 0.5);
$magenta: rgba(75, 2, 54, 1.0);
$magenta-opace: rgba(75, 2, 54, 0.5); */