// -----------------------------------------------------------------------------------------------
// ------------------------------------------- BOTTOM BAR ----------------------------------------
// -----------------------------------------------------------------------------------------------
window.BarBottom {
    box-shadow: none;
    background-color: $--color-bg;
    color: $--color-text;

    border-top: 1px solid;
    border-color: rgba($--color-bg-accent, 1);

    >* {
        padding-top: $--padding-base;
        padding-bottom: $--padding-base;
    }

    // ------ Left and right edge ------
    >*>*:first-child {
        margin-left: $--spacing-base * 1.25;
    }

    >*>*:last-child {
        margin-right: $--spacing-base * 1.25;
    }

    // ------ Between widgets ------
    >*>*>* {
        margin-right: $--spacing-base;
    }

    >*>*>*:last-child {
        margin-right: 0rem;
    }

    // ------ Left side ------
    .SystemStats {
        >* {
            margin-right: $--padding-base;
        }

        .label {
            font-size: $--font-size * 0.9;

            // @for $i from 0 through 9 {
            //     &.color-#{$i * 10}-#{$i * 10 + 9} {
            //         color: rgba(
            //             mix($--color-error, $--color-primary, ($i * 10%)),
            //             0.75
            //         );
            //     }
            // }

            @for $i from 0 through 9 {
                &.color-#{$i * 10}-#{$i * 10 + 9} {
                    $percentage: (
                        $i * 10%
                    );

                $color: if($percentage <=50%,
                        mix($--color-warning,
                            $--color-success,
                            ($percentage * 2%)),
                        mix($--color-error,
                            $--color-warning,
                            (($percentage - 50%) * 2%)));

                color: rgba($color, 0.75);
            }
        }

        &.capacity {
            color: $--color-warning;
        }
    }

    .separator {
        color: rgba($--color-text, 0.75);
        font-size: $--font-size * 0.5;
    }

    .icon {
        font-size: $--font-size * 0.9;
    }
}

.Updates {
    button {
        padding: 0px;
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;

        >* :not(:last-child) {
            margin-right: $--padding-base * 2;
        }

        font-size: $--font-size * 0.9;

        .icon {
            padding: 0px;
            margin-top: 2px;
            font-size: $--font-size * 1.2;
            color: $--color-warning;

            &.major {
                color: $--color-error;
            }
        }

        .value {
            color: $--color-text;
        }
    }
}

// ------ Center ------
.NetworkSpeeds {
    .rx {
        font-size: $--font-size * 0.8;

        &.label {
            color: $--color-bg-accent;

            &.active {
                color: $--color-text;
            }
        }

        &.icon {
            margin-top: 1px;
            font-weight: bold;
            color: $--color-bg-accent;

            &.active {
                color: $--color-primary;
            }
        }
    }

    .label {
        font-size: $--font-size * 0.75;
        color: rgba($--color-text, 0.35);
    }

    .tx {
        font-size: $--font-size * 0.85;

        &.label {
            color: $--color-bg-accent;

            &.active {
                color: $--color-text;
            }
        }

        &.icon {
            margin-top: 1px;
            font-weight: bold;
            color: $--color-bg-accent;

            &.active {
                color: $--color-warning;
            }
        }
    }
}

// ------ Right side ------
}

// -----------------------------------------------------------------------------------------------
// --------------------------------------------- TOP BAR -----------------------------------------
// -----------------------------------------------------------------------------------------------
window.TopBar {
    box-shadow: none;
    background-color: $--color-bg;
    color: $--color-text;

    border-bottom: 1px solid;
    border-color: rgba($--color-bg-accent, 1);

    >* {
        padding-top: $--padding-base;
        padding-bottom: $--padding-base;
    }

    // ------ Left and right edge ------
    >*>*:first-child {
        margin-left: $--spacing-base * 1.25;
    }

    >*>*:last-child {
        margin-right: $--spacing-base * 1.25;
    }

    // ------ Between widgets ------
    >*>*>* {
        margin-right: $--spacing-base;
    }

    >*>*>*:last-child {
        margin-right: 0rem;
    }

    // ------ Left side ------
    .Client {
        .Submap {
            .icon {
                padding-right: $--padding-base;
                font-size: 18px;
                padding: 0 $--padding-base 0 $--padding-base;
                color: $--color-bg-accent;
            }

            .name {
                font-size: $--font-size;
                padding: 0 $--padding-base 0 $--padding-base;
            }

            border-radius: $--border-radius;
            background-color: rgba($--color-primary, 0.75);
            padding: 0 $--padding-base 0 $--padding-base;
            margin-right: $--spacing-base;
        }
    }

    // ------ Center side ------
    .Workspaces {
        >button {
            min-width: 16px;
            padding-left: 0.35rem;
            padding-right: 0.35rem;
            transition: all 0.75s cubic-bezier(0.5, 0.25, 0, 1);

            border-bottom: 2px solid transparent;
        }
    }

    .Workspaces>button:hover {
        border-bottom-left-radius: $--border-radius;
        border-bottom-right-radius: $--border-radius;
        border-bottom: 0.15rem solid $--color-error;
    }

    .Workspaces>button.focused {
        min-width: 16px;
        border-bottom-left-radius: $--border-radius;
        border-bottom-right-radius: $--border-radius;
        border-bottom: 0.15rem solid $--color-primary;
    }

    // ------ Right side ------
    .Hypridle {
        >button {
            padding-right: $--padding-base;
            font-size: $--font-size * 1.25;
        }
    }

    .AudioSlider {
        * {
            all: unset;
        }

        // margin-right: 1rem;
        padding-right: $--padding-base;

        icon {
            margin-right: 0em;
        }

        trough {
            min-width: 100px;
            background-color: color.adjust($--color-primary, $alpha: -0.9);
            border-radius: $--border-radius * 3;
            margin-left: 0.5rem;
        }

        //
        highlight {
            background-color: $--color-primary;
            min-height: 0.7em;
            border-radius: $--border-radius * 3;
        }

        //
        slider {
            background-color: $--color-primary;
            // border-radius: 2px;
            // min-height: 1em;
            // min-width: 1em;
            // margin: -0.2em;
        }
    }

    .Tray {
        margin-left: -15px;

        >button {
            .icon {
                padding-left: $--padding-base;
                padding-right: $--padding-base;
                font-size: $--font-size * 1.25;
            }
        }
    }

    .Clock {
        color: $--color-text;
        font-size: $--font-size;
    }
}
