@use "./settings" as settings;

@function toRem($value) {
    $remValue: calc($value / 16) + rem;
    @return $remValue;
}

@function toEm($value, $base: 16) {
    $emValue: calc($value / $base) + em;
    @return $emValue;
}

menu {
    color: settings.$menu-font-color;
    font-weight: settings.$menu-font-weight;
    margin: toEm(6);
    padding: toEm(8);
    background-color: settings.$menu-background-color;
    background-clip: border-box;
    border-radius: settings.$menu-border-radius;
    border: settings.$menu-border;
}

menuitem {
    /* transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1); */
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1);
    min-height: 16px;
    min-width: 40px;
    padding: 0.2em;
    background-clip: border-box;
    border-radius: settings.$menu-border-radius;

    arrow {
        min-height: 16px;
        min-width: 16px;
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
        margin-left: 8px;
    }

    separator {
        min-height: 1px;
        margin: toEm(4) 0;
        background-color: white;
    }
}

menu > menuitem:hover {
    color: settings.$menu-hover-font-color;
    /* background-color: settings.$menu-hover-bg-color; */
}

menu > arrow {
    min-height: 16px;
    min-width: 16px;
    padding: toEm(4);
    color: white;
}
menu > arrow.top {
    margin-top: 0;
    border-radius: 6px;
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
    margin-top: 8px;
    margin-bottom: -12px;
    border-radius: 6px;
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

@keyframes tooltipShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

tooltip {
    opacity: settings.$tooltip-opacity;
    background-color: settings.$tooltip-bg-color;
    border: settings.$tooltip-border;
    border-radius: settings.$tooltip-border-radius;

    animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);

    label {
        color: settings.$tooltip-font-color;
        font-weight: settings.$tooltip-font-weight;
    }
}

tooltip > * {
    padding: 6px 10px;
}
