@use "./themes/catpuccin-mocha.scss" as theme;

$font-name: "Monaspace Krypton";
$font-size: 1rem;
$font-weight: 500;
$font-style: normal;

$menu-font-color: theme.$surface-neutral;
$menu-font-weight: bold;
$menu-background-color: theme.$background-dark;
$menu-border-radius: 5px;
$menu-border: 1px solid theme.$background;
$menu-shadow: 0 4px 16px rgba(theme.$accent-red, 0.55);
$menu-hover-font-color: theme.$accent-light;
$menu-hover-bg-color: theme.$surface-highlight;

$tooltip-font-color: theme.$accent-light;
$tooltip-font-weight: normal;
$tooltip-padding: 2px 4px;
$tooltip-border-radius: 5px;
$tooltip-bg-color: theme.$background;
$tooltip-opacity: 1;
$tooltip-shadow: 0 4px 16px rgba(theme.$accent-red, 0.55);
$tooltip-border: 1px solid theme.$surface-neutral;
/* $border-radius: 10px;
$padding: 7pt;
$spacing: 12pt;
$border-width: 1px;
$dock-scaling: 100;
$dock-opacity: 50; */
$corners-color: theme.$background-dark;

$desktop-info-time-color: theme.$accent-yellow;
$desktop-info-date-color: theme.$accent-green;
$desktop-info-category-color: theme.$surface-highlight;
$desktop-info-content-color: theme.$text-main;
$desktop-info-time-size: 9rem;
$desktop-info-date-size: 3rem;

$topbar-background-color: theme.$background-dark;
$topbar-bottom-border-color: theme.$background;
$submap-background: theme.$surface-highlight;
$submap-icon-color: theme.$text-muted-light;
$submap-text-color: theme.$accent-red;
$submap-border-color: theme.$text-muted;
$submap-border-radius: 5px;
$submap-border-width: 1px;
$client-text-color: theme.$text-main;
$workspaces-text-color: theme.$text-muted-light;
$workspaces-spacing: 0.125em;
$workspaces-pill-height: 0.125em;
$workspaces-pill-width: 0.5em;
$workspaces-pill-active_width: 1em;
$workspaces-border-enabled: false;
$workspaces-border-width: 1px;
$workspaces-border-radius: 16px;
$workspaces-hover-color: theme.$accent-pink;
$workspaces-active-color: theme.$text-muted;

$popup-font-color: theme.$accent-light;
$popup-font-weight: normal;
$popup-bg-color: theme.$background-dark;
$popup-padding: 2px 4px;
$popup-border-radius: 5px;
$popup-border: 1px solid theme.$background;
$popup-hover-bg-color: theme.$surface-highlight;

$clock-text-color: theme.$accent-yellow;
$clock-font-weight: bold;
