@use "./settings" as settings;
@use "./themes/catpuccin-mocha.scss" as theme;

@use "./corners.scss";
@use "./desktop-info.scss";
@use "./topbar.scss";

* {
    all: unset;
    font-size: settings.$font-size;
    font-family: settings.$font-name;
    font-style: settings.$font-style;
}

#corner-container {
    background-color: transparent;
    /* handled in code via config values
    min-width: 100px;
    min-height: 100px; */
}

#fabric-overlay {
    background-color: red;

    #revealer {
        padding: 10px;
    }
}

#power-menu {
    color: red;
    background-color: transparent;
    min-height: 1px;
    min-width: 1px;
}

#power-menu-pop-up {
    border: 2px solid yellow;
}
