/* ---------------------------- */
/* Base Colors                  */
/* ---------------------------- */
/* Text Colors */
/* Surface Colors */
/* Accent Colors */
/* Overlay Colors */
/* Additional UI Elements */
/* $border-radius: 10px;
$padding: 7pt;
$spacing: 12pt;
$border-width: 1px;
$dock-scaling: 100;
$dock-opacity: 50; */
#corner-container {
  background-color: transparent;
  /* NOTE: set in code with config parameter
  min-width: 100px;
  min-height: 100px; */
}
#corner-container #corner {
  background-color: #11111b;
}

#desktop-info-container {
  font-family: "Monaspace Krypton";
  margin: 5rem;
  padding: 30px;
  transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}
#desktop-info-container #clock > label {
  color: #f9e2af;
  font-size: 9rem;
  font-weight: 500;
}
#desktop-info-container #date > label {
  color: #a6e3a1;
  font-size: 3rem;
  font-weight: 500;
}
#desktop-info-container #system-info {
  font-family: "Monaspace Krypton";
  /* background-color: yellow; */
  /* color: red; */
}
#desktop-info-container #system-info #category {
  color: #585b70;
  font-size: 13px;
  /* color: red; */
  font-weight: bold;
}
#desktop-info-container #system-info #content {
  color: #cdd6f4;
  font-size: 13px;
  /* color: red; */
  font-weight: 400;
  /* font-weight: normal; */
}

#top-bar {
  font-family: "Monaspace Krypton";
  font-size: 1rem;
  font-weight: bold;
  background-color: #11111b;
  border-bottom: 2px solid #1e1e2e;
}
#top-bar #container {
  /* border: 1px solid orange; */
}
#top-bar #arch-logo {
  /* border: 1px solid red; */
}
#top-bar #submap {
  color: #f38ba8;
  border: 1px solid #a6adc8;
  padding: 0 5px 0 4px;
  border-radius: 5px;
  margin: 2px;
  background-color: #585b70;
}
#top-bar #client {
  color: #cdd6f4;
}
#top-bar #workspaces {
  font-weight: 700;
  padding: 0.19em 1em;
  border-radius: 16px;
  border: none;
  border-width: 1px;
}
#top-bar #workspaces > button {
  padding: 0.125em 0.5em;
  transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 9999px;
  background-color: #11111b;
}
#top-bar #workspaces > button label {
  color: #7f849c;
  transition: inherit;
}
#top-bar #workspaces > button:hover {
  background-color: #f5c2e7;
}
#top-bar #workspaces > button:hover label {
  color: #11111b;
}
#top-bar #workspaces > button.active {
  font-weight: 600;
  min-width: 1.4rem;
  transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 1em;
  padding-right: 1em;
  background-color: #a6adc8;
}
#top-bar #workspaces > button.active > label {
  color: #7f849c;
}
#top-bar #workspaces > button.unoccupied {
  opacity: 0.5;
}
#top-bar #workspaces > button.unoccupied:hover {
  opacity: 1;
}
#top-bar #clock {
  color: #f9e2af;
}

/* #power-menu-button {
    border: 3px solid white;
} */
#power-menu {
  min-height: 1px;
  min-width: 1px;
}

#grid {
  /* border: 3px solid orange; */
}
#grid #power-control-button {
  /* border: 3px solid pink; */
}

#power-menu-pop-up {
  color: #f5e0dc;
  background-color: #11111b;
  padding: 2px 4px;
  border: 1px solid #1e1e2e;
  border-radius: 5px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  /* border: 2px solid yellow; */
}

#power-control-button {
  padding: 0.5rem;
}
#power-control-button .panel-text {
  font-weight: normal;
  margin-left: 1rem;
}

#power-control-button:hover {
  border-radius: 4px;
  background-color: #585b70;
}

menu {
  color: #45475a;
  font-weight: bold;
  margin: 0.375em;
  padding: 0.5em;
  background-color: #11111b;
  background-clip: border-box;
  border-radius: 5px;
  border: 1px solid #1e1e2e;
}

menuitem {
  /* transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1); */
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 16px;
  min-width: 40px;
  padding: 0.2em;
  background-clip: border-box;
  border-radius: 5px;
}
menuitem arrow {
  min-height: 16px;
  min-width: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
  margin-left: 8px;
}
menuitem separator {
  min-height: 1px;
  margin: 0.25em 0;
  background-color: white;
}

menu > menuitem:hover {
  color: #f5e0dc;
  /* background-color: settings.$menu-hover-bg-color; */
}

menu > arrow {
  min-height: 16px;
  min-width: 16px;
  padding: 0.25em;
  color: white;
}

menu > arrow.top {
  margin-top: 0;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu > arrow.bottom {
  margin-top: 8px;
  margin-bottom: -12px;
  border-radius: 6px;
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
tooltip {
  opacity: 1;
  background-color: #1e1e2e;
  border: 1px solid #45475a;
  border-radius: 5px;
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}
tooltip label {
  color: #f5e0dc;
  font-weight: normal;
}

tooltip > * {
  padding: 6px 10px;
}

* {
  all: unset;
  font-size: 1rem;
  font-family: "Monaspace Krypton";
  font-style: normal;
}

#corner-container {
  background-color: transparent;
  /* handled in code via config values
  min-width: 100px;
  min-height: 100px; */
}
