@use "sass:color";

$--color-bg: #0f0f0f;
$--color-bg-accent: #252525;
$--color-text: #edecee;
$--color-primary: rgba(97, 255, 202, 1);
$--color-success: rgba(37, 201, 243, 1);
$--color-error: rgba(255, 103, 103, 1);

$--padding-base: 0.3rem;
$--spacing-base: 1rem;
$--border-radius: 2px;

@import "./windows/bar_top/styles.scss";
@import "./windows/bar_bottom/styles.scss";

* {
    all: unset;
    font-size: 13px;
    // font-family: "Monaspace Neon SemiBold", sans-serif;
    font-family: "Monaspace Krypton SemiBold", sans-serif;
    color: $--color-text;
}
