* {
  all: unset;
}

scale trough {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  border: solid 2px rgba(255, 255, 255, 0.1);
  min-height: 14px;
}

.brightness-bar trough highlight {
  background-color: $white;
  border-radius: 25px;
}