* {
    all: unset;
    font-family: "CaskaydiaCove Nerd Font SemiBold";
    font-size: 16px;
    // font-weight: bold;
}

// General
@import "colors.scss";

// Bar and widgets
@import "bar/bar.scss";
@import "bar/client.scss";
@import "bar/clock.scss";
@import "bar/system_tray.scss";
@import "bar/workspaces.scss";

// Windows
@import "bar/calendar.scss";