$foreground1: rgba(250, 247, 254, 1.00);
$foreground2: rgba(250, 247, 254, 0.75);
$foreground3: rgba(250, 247, 254, 0.50);

$background1: rgba(0, 0, 0, 0.75);
$background2: rgba(0, 0, 0, 0.45);
$background3: rgba(0, 0, 0, 0.15);

$green: rgba(97, 255, 202, 1.0);
$green-opace: rgba(97, 255, 202, 0.25);
$blue: rgb(37, 201, 243);
$blue-opace: rgba(37, 201, 243, 0.25);
$red: rgba(255, 103, 103, 1.0);
$red-opace: rgba(255, 103, 103, 0.5);
$yellow: rgba(241, 192, 125, 1.0);
$yellow-opace: rgba(241, 192, 125, 0.5);
$magenta: rgba(236, 72, 166, 1.0);
$magenta-opace: rgba(236, 72, 166, 0.5);
$orange: rgba(255, 159, 67, 1.0);
$orange-opace: rgba(255, 159, 67, 0.5);