tooltip {
    * {
        all: unset;
    }

    background-color: transparent;

    >*>* {
        font-size: 12px;
        font-weight: bold;
        background-color: $background1;
        border-radius: 5px;
        border: 1.5px solid $foreground3;
        color: $foreground1;
        padding: 4px;
        box-shadow: 0 0 0px 0 $foreground3;
    }
}